<section class="row assinatura">
    <div class="col-md-12 logo-rodape">
        <div class="losango"></div>
        <div class="losango losango-2x"></div>
        <h3>Loja da Vanessa</h3>
        <div class="losango losango-2x"></div>
        <div class="losango"></div>
    </div>
    <section class="col-12 col-md-6 assinatura-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra maximus nunc, in ornare magna imperdiet cursus. Sed eget vulputate ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </section>

    <section class="col-12 col-md-6 selos">
        <ul>
            <li ><i class="sprite visa"></i> </li>
            <li ><i class="sprite master"></i></li>
            <li ><i class="sprite elo"></i></li>
            <li ><i class="sprite diners"></i></li>
            <li ><i class="sprite american-express"></i></li>
            <li ><i class="sprite boleto"></i></li>
            <li ><i class="sprite certisign"></i></li>
        </ul>
    </section>
</section>