<section class="row institucional-informacao">
    <div class="col-6 col-md-3">
        <div class="institucional">
            <h3>Institucional</h3>
            <ul>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </div>
    
    <div class="col-6 col-md-3">
        <div class="ajuda-suporte">
            <h3>Ajuda & Suporte</h3>
            <ul>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Termos e Condições</a></li>
                <li><a href="#">Procon RJ</a></li>
            </ul>
        </div>
    </div>
    
    <div class="col-6 col-md-3">
        <div class="newsletter">
            <h3>Newsletter</h3>
            <form>
                <fieldset class="form-group">
                    <input type="email" class="form-control newsletter-email" id="email" aria-describedby="emailHelp" placeholder="Seu email">
                </fieldset>
                <fieldset>
                    <button id="btn-assinar-newsletter" class="btn">Assinar</button>
                </fieldset>
            </form>
        </div>
    </div>
    
    <div class="col-6 col-md-3">
        <div class="redes-sociais">
            <h3>Redes Sociais</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
    </div>
</section>