<nav class="row main-navbar">
    <div class="col-10 col-md-6 offset-1 offset-md-3">
        <ul class="d-flex justify-content-center">
            <li class="col-3 col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-btn">
                            <button class="btn" id="btn-buscar">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <input class="search-box form-control" type="text" name="buscar" id="buscar" placeholder="buscar">  
                </div>
                <!-- <a href="#">
                    <i class="fa fa-search"></i>buscar
                </a> -->
            </li>
            <li class="col-3 col-md-3"><a href="#">Minha Conta</a></li>
            <li class="col-3 col-md-3"><a href="#">Entrar</a></li>
            <li class="col-3 col-md-3">
                <a href="#">
                    <i class="fa fa-shopping-bag"></i>
                    Sacola <span id="bag-qtd">(0)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>