<section class="row prateleira">
    <div class="col-12 col-md-12">
        <div class="col-md-4 offset-md-4 prateleira-titulo">
            <h4 class="prateleira-titulo">Aproveite também</h4>
            <div class="underscore"></div>
        </div>

        <div id="prateleira-carousel" class="carousel" data-ride="carousel">
                <ul class="d-flex carousel-products" class="carousel-inner" style="padding: 2rem 0;">

                    <li class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="carousel-item active">
                            <div class="carousel-item-thumb">
                                <a href="#">
                                    <img class="" src="src/assets/images/prateleira-01.jpg" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item-conteudo">
                                <h4 class="carousel-item-nome">Saia Global Girl Bodycon</h4>
                                <div class="carousel-preco">
                                    <p><span class="carousel-item-preco">R$ 30,00</span></p>
                                    <p><span class="carousel-item-parcelas">3x de R$ 5,00 s/juros</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
        
                    <li class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="carousel-item active">
                            <div class="carousel-item-thumb">
                                <a href="#">
                                    <img class="" src="src/assets/images/prateleira-02.jpg" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item-conteudo">
                                <h4 class="carousel-item-nome">Vestido Must-Have Sweatshirt</h4>
                                <div class="carousel-preco">
                                    <p><span class="carousel-item-preco">R$ 15,00</span></p>
                                    <p><span class="carousel-item-parcelas">3x de R$ 5,00 s/juros</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
        
                    <li class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="carousel-item active">
                            <div class="carousel-item-thumb">
                                <a href="#">
                                    <img class="" src="src/assets/images/prateleira-03.jpg" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item-conteudo">
                                <h4 class="carousel-item-nome">Mini Saia Day Dreamer Abstract</h4>
                                <div class="carousel-preco">
                                    <p><span class="carousel-item-preco">R$ 15,00</span></p>
                                    <p><span class="carousel-item-parcelas">3x de R$ 5,00 s/juros</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
        
                    <li class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="carousel-item active">
                            <div class="carousel-item-thumb">
                                <a href="#">
                                    <img class="" src="src/assets/images/prateleira-04.jpg" alt="Fourth slide">
                                </a>
                            </div>
                            <div class="carousel-item-conteudo">
                                <h4 class="carousel-item-nome">Vestido Opulent A-Line</h4>
                                <div class="carousel-preco">
                                    <p><span class="carousel-item-preco-antigo">R$ 45,80</span><span class="carousel-item-preco">R$ 30,00</span></p>
                                    <p><span class="carousel-item-parcelas">3x de R$ 5,00 s/juros</span></p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="carousel-item ">
                            <div class="carousel-item-thumb">
                                <a href="#">
                                    <img class="" src="src/assets/images/prateleira-01.jpg" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item-conteudo">
                                <h4 class="carousel-item-nome">Saia Global Girl Bodycon</h4>
                                <div class="carousel-preco">
                                    <p><span class="carousel-item-preco">R$ 30,00</span></p>
                                    <p><span class="carousel-item-parcelas">3x de R$ 5,00 s/juros</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
        
                    <li class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="carousel-item ">
                            <div class="carousel-item-thumb">
                                <a href="#">
                                    <img class="" src="src/assets/images/prateleira-02.jpg" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item-conteudo">
                                <h4 class="carousel-item-nome">Vestido Must-Have Sweatshirt</h4>
                                <div class="carousel-preco">
                                    <p><span class="carousel-item-preco">R$ 15,00</span></p>
                                    <p><span class="carousel-item-parcelas">3x de R$ 5,00 s/juros</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
        
                    <li class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="carousel-item ">
                            <div class="carousel-item-thumb">
                                <a href="#">
                                    <img class="" src="src/assets/images/prateleira-03.jpg" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item-conteudo">
                                <h4 class="carousel-item-nome">Mini Saia Day Dreamer Abstract</h4>
                                <div class="carousel-preco">
                                    <p><span class="carousel-item-preco">R$ 15,00</span></p>
                                    <p><span class="carousel-item-parcelas">3x de R$ 5,00 s/juros</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
        
                    <li class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="carousel-item ">
                            <div class="carousel-item-thumb">
                                <a href="#">
                                    <img class="" src="src/assets/images/prateleira-04.jpg" alt="Fourth slide">
                                </a>
                            </div>
                            <div class="carousel-item-conteudo">
                                <h4 class="carousel-item-nome">Vestido Opulent A-Line</h4>
                                <div class="carousel-preco">
                                    <p><span class="carousel-item-preco-antigo">R$ 45,80</span><span class="carousel-item-preco">R$ 30,00</span></p>
                                    <p><span class="carousel-item-parcelas">3x de R$ 5,00 s/juros</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
</section>