<section class="row produto-secao">
    <div class="col-12 col-md-6">
        <section class="row produto-vitrine">
            <div class="col-12 col-md-12">
                <div class="produto-zoom">
                    <div id="overlay" class="overlay d-none"></div>
                    <div class="produto-imagem">
                        <img id="foto-principal" src="src/assets/images/foto-01.jpg" alt="Vestido-Must-Have-Frontal">
                    </div>
                </div>     
            </div>
            <div class="col-4 col-md-3">
                <div class="thumb thumb-selecionada">
                    <img src="src/assets/images/thumb-01.jpg" alt="Vestido-Must-Have-Frontal-thumb">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="thumb">
                    <img src="src/assets/images/thumb-02.jpg" alt="Vestido-Must-Have-Costas-thumb">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="thumb">
                    <img src="src/assets/images/thumb-03.jpg" alt="Vestido-Must-Have-Frontal-Aproximado-Thumb">
                </div>
            </div>
        </section>
    </div>
        
    <div class="col-12 col-md-6">
        <aside class="row produto-container">
            <div class="col-12 col-md-12">
                <div class="produto-cabecalho">
                    <p><span id="produto-ref">Ref.: MO8992</span></p>
                    <nav class="redes-sociais-navbar">
                        <ul class="d-flex justify-content-start">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></i></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul> 
                    </nav>
                    <h1 class="produto-nome">Vestido Must Have Sweatshirt</h1>
                </div>
            </div>
            
            <div class="col-12 col-md-12">
                <div class="produto-preco">
                    <p><span class="preco-antigo">R$ 22,80</span></p>
                    <p><span class="preco-atual">R$ 15,00</span></p>
                    <p><span class="preco-parcelas">3x de R$ 5,00 s/juros</span></p>
                </div>
            </div>
            
            <div class="col-12 col-md-12">
                <div class="produto-tamanho">
                    <p>Tamanho</p>
                    <select class="col-4 col-md-4 custom-select" id="tamanho">
                        <option selected>Tam. 17</option>
                        <option value="18">Tam. 18</option>
                        <option value="19">Tam. 19</option>
                        <option value="20">Tam. 20</option>
                    </select>
                </div>
            </div>
            
            <div class="col-12 col-md-12">
                <div class="d-flex align-items-baseline produto-checkout">
                    <button id="adicionar-sacola" class="col-6 col-md-6 btn">Adicionar à sacola</button>
                    <div class="col-6 col-md-6 offset-1 offset-md-1">
                        <div class="lista-desejo">
                            <i class="fa fa-heart-o"></i>
                            <p>Lista de Desejos</p>
                        </div>
                    </div>
                </div> 
            </div>
            
            <div class="col-12 col-md-12">
                <div class="produto-descricao">
                    <p>A french terry sweatshirt dress featuring iong raglan sleeves. Round neckline.   Banded trim. Knit. Lightweight</p>
                    <ul>
                        <li>34" approx. length from gigh point shoulder to hem, 38" chest, 36" waist, 30" sleeve length from high point shoulder</li>
                        <li>Measured from Small</li>
                        <li>61% cotton, 39% viscose</li>
                        <li>Hand wash cold, dry flat</li>
                        <li>Imported</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-12 col-md-12">
                <div class="produto-frete">
                    <div class="busca-frete">
                        <p>Frete e Prazo</p>
                        <input type="text" class="col-4 col-md-4 form-control busca-cep" aria-label="Default" id="cep" name="cep" maxlength="9" required placeholder="22271-100" > 
                        <a href="#" id="calcular-frete">Calcular</a>
                    </div>   

                    <div class="frete-preco">
                        <p>PAC: <span id="pac-preco">R$18,30</span> - <span id="pac-prazo"> 7 </span> dias úteis</p>
                        <p>SEDEX: <span id="sedex-preco">R$26,00</span> - <span id="sedex-prazo"> 4 </span> dias úteis</p>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</section>